In [1]:
import pandas as pd,numpy as np

import tensortrade

data = pd.read_csv('NVDA_bar_sample_1min.csv', index_col=0, header=0)
display(data)
data = data.loc['2020-09-04 09:30:00':'2020-09-04 3:30:00'].reset_index(drop=False)
# display(data)
data['volume'] = data['volume'].astype('int32')
# del data["average"]
del data["barcount"]

                       open    high     low   close  volume  average  barcount
date
2020-09-04 04:00:00  512.00  512.98  512.00  512.98      21  512.047         3
2020-09-04 04:01:00  513.87  514.00  512.98  512.98       9  513.502         7
2020-09-04 04:02:00  512.98  512.98  512.98  512.98       0  512.980         0
2020-09-04 04:03:00  511.60  511.60  510.00  510.00       3  510.555         3
2020-09-04 04:04:00  505.21  505.22  505.20  505.22      12  505.206         7
...                     ...     ...     ...     ...     ...      ...       ...
2020-09-04 19:55:00  499.95  499.95  499.95  499.95       1  499.950         1
2020-09-04 19:56:00  499.95  499.95  499.95  499.95       0  499.950         0
2020-09-04 19:57:00  499.95  499.95  499.95  499.95       0  499.950         0
2020-09-04 19:58:00  499.52  499.52  499.52  499.52       1  499.520         1
2020-09-04 19:59:00  499.60  499.60  499.55  499.55       2  499.575         2

[960 rows x 7 columns]